<div id="<%= @id %>" data-turbo-stream="true">
  <% messages.each do |type, message| %>
    <div class="<%= alert_css_classes(type) %>" role="alert">
      <%= sanitize(message, tags: %w[b i u strong em]) %>
    </div>
  <% end %>
</div>
